.overlay {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
   
  }

.contents {
        margin: 15% auto;
        background-color: white;
        border-radius: 0.25rem;
        width: 50vw;
        padding: 2rem;
        bottom:100px;
        position: relative;
  }
.bg
{
  height:700px;
  width: 1350px;
  background-color:rgb(169,137,104);
}
.aboutButton
{
  width: 60%;
  height: 10%;
}
.logout
{
  background-color: whitesmoke;
  margin-left: 700px;
  border-radius: 15px;
  border: 0px solid;
  height: 37px;
  margin-top: 4px;
}
.mylogo
{
  cursor: grab;
}
.deletebutton
{
  margin-left: 45%;
}